<h1>Edit</h1>

<%= form_with model: @pet do |f| %>
    <%= f.label :color %>
    <%= f.text_field :color %>
    <%= f.label :breed %>
    <%= f.text_field :breed %>
    <%= f.label :rescued %>
    <%= f.check_box :rescued %>
    <%= f.submit %>
<% end %>
